.mainzone img{
    height: 255px;
    width: 180px;
}

.rating-movie{
    margin-right: 5px;
}

.date-movie{
    margin-left: 5px;
    margin-right: 5px;
}

.time-movie{
    margin-left: 5px;
}

.description-movie {
    margin-top: 10px;
    text-align: justify;
}

.description-movie > p{
    font-size: 1.1em;
}

.movie-info > span{
    font-size: 1.1em;
}

.itunes-movie{
    margin-top: 5px;
}

.btn-trailer {
    margin-left: 30px;
}

.actor{
    height:350px;
    width:260px;
}

.filmography{
    padding: 20px;
}
