.mainzone img{
    height: 255px;
    width: 180px;
}

.rating-actor{
    margin-right: 5px;
}

.date-actor{
    margin-left: 5px;
    margin-right: 5px;
}

.time-actor{
    margin-left: 5px;
}

.description-actor {
    margin-top: 10px;
    text-align: justify;
}

.description-actor > p{
    font-size: 1.1em;
}

.actor-info > span{
    font-size: 1.1em;
}

.itunes-actor{
    margin-top: 5px;
}

.btn-trailer {
    margin-left: 30px;
}

.actor{
    height:350px;
    width:260px;
}

.filmography{
    padding: 20px;
}


/* COVER MOVIE */
.cover-actor img {
    width: 65%;
}

/* VIDEO MOVIE */
.video-trailer {
    display:none;
    margin-bottom: 20px;
}
