/* body */

html{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body{
    background-color: #f3f3f3;
    color: #9b9b9b;;
}

/* logo */

#logo{
    max-width:115px;
    margin-top: -10px;
}

/* title and paragraph */

h1,h2,h3,h4,h5 {
    color: black;
}

h5 {
    font-weight: bold;
}

p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/* link */

a:hover {
    text-decoration: none;
}

/* buffer */

.top-buffer {
    margin-top: 100px;
}

.row-bottom {
    margin-bottom: 20px;
}
/* button */

.btn-margin-bottom{
    margin-bottom: 30px;
}

/* footer */

footer {
    width: 100%;
    color: #666;
    background-color: #222;
    text-align: center;
}

.new-watchlist{
    width: 400px;
}

#login-container{
    background: darkred;
    display:none;
}

.title-limit{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    width: 100%;
}

.size-input{
    width: 500px;
}

.avatar-signup{
    width: 150px;
    height: 150px;
}

.no-style{
    display: none;
}

label > input + img{
    cursor:pointer;
    border:2px solid transparent;
}

label > input:checked + img{
    border:2px solid #f00;
}

.avatar-menu{
    margin-left: 10px;
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

/*source: https://gist.github.com/daz/2168334*/
.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

/*.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}*/

.ui-menu-item:hover {
    background-color: #0088cc;
    cursor: pointer;
}
