/* body */

html{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body{
    background-color: #f3f3f3;
    color: #9b9b9b;;
}

/* logo */

#logo{
    max-width:115px;
    margin-top: -10px;
}

/* title and paragraph */

h1,h2,h3,h4,h5 {
    color: black;
}

h5 {
    font-weight: bold;
}

p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/* link */

a:hover {
    text-decoration: none;
}

/* buffer */

.top-buffer {
    margin-top: 100px;
}

.row-bottom {
    margin-bottom: 20px;
}
/* button */

.btn-margin-bottom{
    margin-bottom: 30px;
}

/* footer */

footer {
    width: 100%;
    color: #666;
    background-color: #222;
    text-align: center;
}

