html{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

body{
    background-color: #f3f3f3;
}

h2{
    color: #080808;
}

p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
    text-align: center;
}

#logo{
    max-width:115px;
    margin-top: -10px;
}