.container.carousel
{
    margin-top: 85px;
}

.carousel-caption.title
{
    margin-top: 40px;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.mainzone img{
    height: 255px;
}

.datazone{
    word-wrap:break-word;
    margin-right: auto;
    margin-left: auto;
    max-width: 275px;
}

.poster{
    height: 600px;
}

.picturezone:hover img
{
    opacity: 0.5;
}

.middlePage
{
    margin-top: 20px;
}

a:hover{
    cursor : pointer;
}

.first-column {
    width: 40%;
    float: left;
}

.second-column {
    width: 60%;
    float: right;
}

/*
    GENERATEUR DE RIBBON CSS3
*/

.track-type {
    text-align: center;
    position: relative;
    color: #fff;
    margin: 0 -14px 10px -14px;
    padding: 3px 0;
    text-shadow: 0 1px rgba(0,0,0,.8);
    background-color: #313131;
    background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
    -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
}

.track-type:before,
.track-type:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
    bottom: -10px;
}

.track-type:before {
    border-width: 0 10px 10px 0;
    border-right-color: #222;
    left: 0;
}

.track-type:after {
    border-width: 0 0 10px 10px;
    border-left-color: #222;
    right: 0;
}

.tvshow{
    background-color: #E50914;
}

/* Template for checkbox http://www.csscheckbox.com/checkbox/171/star-rating-checkbox/ */
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:45px;
    height:40px;
    display:inline-block;
    line-height:40px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:40px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -40px;
}
label.css-label {
    background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_019807af606f0dea9eb28a8d35a7afc6.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}