/** COVER MOVIE **/
body{
    background-color: #292929;
    color: #9b9b9b;
}

/** CONTENT MOVIE */
a:hover {
    text-decoration: none;
}

.title-tvshows {
    color: white;
}

.top-buffer {
    margin-top: 100px;
}

.row-bottom {
    margin-bottom: 20px;
}


.star-yellow{
    color: #e1cb2b;
}

.rating-movie{
    margin-right: 5px;
}

.date-movie{
    margin-left: 5px;
    margin-right: 5px;
}

.time-movie{
    margin-left: 5px;
}

.description-movie {
    margin-top: 10px;
    text-align: justify;
}

.movie-info > p{
    font-size: 1.1em;
}

.movie-info > span{
    font-size: 1.1em;
}

.itunes-movie{
    margin-top: 5px;
}

.btn-season{
    display: inline-block;
    margin-bottom: 30px;
}

.cover-season img{
    width: 200px;
    height: 112px;
}

.cover-movie img {
    width: 360px;
    height: 480px;
}

.episode {
    margin-bottom: 10px;
}

.video-season {
    margin-top: 20px;
}

.center-itunes {
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 20px;
}

.display-h3{
    display: inline;
}