/** CONTENT TV SHOWS */

.description-movie {
    margin-top: 10px;
    text-align: justify;
}

.description-movie > p{
    font-size: 1.1em;
}

.description-movie > span{
    font-size: 1.1em;
}

.itunes-movie{
    margin-top: 5px;
}

.btn-season{
    display: inline-block;
    margin-bottom: 30px;
}

.episode {
    margin-bottom: 10px;
}

.video-season {
    margin-top: 20px;
}

.center-itunes {
    vertical-align: middle;
    margin-bottom: 20px;
    margin-left: 20px;
}

.display-h3{
    display: inline;
}

/* IMG COVER TV SHOWS */
.cover-season img{
    width: 200px;
    height: 112px;
}

.cover-movie img {
    width: 360px;
    height: 480px;
}

/* VIDEO SEASON */
.video-season{
    margin-bottom: 20px;
}
