<div class="row top-buffer row-bottom">
    <div class="watchlist-user">
        <% _.each(results, function(data) {%>
            <hr />
            <h3>Filmography : </h3>
            <% _.each(data.results, function(movie) {
                url = '#/movies/' + movie.trackId;
                str = movie.releaseDate;
                release = str.split("T");
            %>
                <div class="col-sm-6 col-md-4 datazone datazone">
                    <div class="thumbnail">
                        <img src="<%= formatImageSize(movie.artworkUrl100, 250) %>" class="picturezone" alt="">
                        <div class="caption">
                            <a class="title-limit" href="<%= url  %>" class=""> <%= movie.trackName %></a>
                            <p><%= release[0] %></p>
                        </div>
                    </div>
                    <button id="btn-trailer" type="button" class="btn btn-default btn-margin-bottom btn-trailer">
                        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        Show trailer
                    </button>
                    <div class="row" id="video-trailer">
                        <div class="col-sm-12">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" id="trailer" src=""></iframe>

                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        <% }) %>
    </div>
</div>

