<div class="container middlePage" id="browse">
<div id="middlePage" class="container middlePage">
    <ul class="nav nav-tabs">
        <li role="presentation" id="tabMovies" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Movies <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="listMovies">

            </ul>
        </li>
        <li role="presentation" id="tabTVshows" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                TV Shows <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" id="listTVshows">

            </ul>
        </li>
    </ul>


    <h2>Browse</h2>
</div >

<div class="container">
    <div class="row">
        <% var index = 0;  %>
        <% _.each(resultsCol,function(data){ %>
            <% if (index < 4){ %>
                <% index++ %>

            <div class="col-sm-6 col-md-4 datazone datazone">
                <div class="thumbnail">
                    <img src="<%= formatImageSize(data.artworkUrl100, 230) %>" class="picturezone" alt="">
                    <div class="caption">
                        <h3 class="title-limit"> <a href="<%=  data.url  %>" class="title-limit"> <%= data.title %></a></h3>
                        <p class="title-limit"><%= data.by %></p>
                        <p><%= data.shortDesc %>
                    </div>
                </div>
            </div>
        <% } else { %>
        <% index = 0 %>
    </div>
    <div class="row">
        <% } }) %>
    </div>
</div>
</div>