<div class="row top-buffer">
    <div class="alert alert-danger" id="alert" hidden>
        You must specify a name for your playlist
    </div>
    <div class="new-watchlist">
        <h3>Create a new watchlist</h3>
        <form id="form-create-watchlist">
            <div class="form-group">
                <label>Watchlist's name</label>
                <input type="text" class="form-control" placeholder="Name"  id="watchName">
            </div>
            <button type="button" class="btn btn-default btn-margin-bottom" id="create-watchlist">Create</button>
        </form>
    </div>
</div>