<div class="row top-buffer row-bottom">
    <div class="login-content col-sm-8">
        <h1>Login</h1>
        <div id="loginError" class="alert alert-danger alert-size" role="alert" hidden>
        </div>

        <div class="cadre col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <button type="submit" class="btn btn-default" id="loginButton">Sign in</button>
                        <a href="#signup" class="register">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>