<div class="row top-buffer row-bottom">
    <div class="movie-content">
        <div class="col-sm-4 cover-movie">
            <img src=<%= formatImageSize(results[1].artworkUrl100,400) %> class="img-responsive">
        </div>
        <div class="col-sm-8 description-movie">
            <h2 class="title-movie"><%= results[1].trackName %></h2>
            <p class="genre-movie"><strong>Genres:</strong> <%= results[1].primaryGenreName %> </p>
            <span class="date-movie"><%= formatdate(results[1].releaseDate) %></span>
            <span class="separator-movie">|</span>
            <span class="time-movie"><%= formattime(results[1].trackTimeMillis)%></span>
            <span class="separator-movie">|</span>
            <span class="time-movie">Advisory rating <%= results[1].contentAdvisoryRating%></span><br><br>
            <p class="description-movie"><%= results[1].longDescription %></p>
            <p class="director-movie">
                <strong>Director:</strong> <%= results[1].artistName %>
            </p>
            <div class="button-utils col-sm-8">
                <a class="itunes-movie" href="https://geo.itunes.apple.com/us/movie/<%= results[1].trackName %>/id<%= results[1].trackId %>?mt=6" style="display:inline-block;overflow:hidden;
                    background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg)
                    no-repeat;width:165px;height:40px;" target="_blank"> </a>
                <button type="button" class="btn btn-default btn-margin-bottom" id="add-to-watchlist">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    Add to Watchlist
                </button>
                <button id="btn-trailer" type="button" class="btn btn-default btn-margin-bottom btn-trailer">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    Show trailer
                </button>
                <div id="watchlist-name">
                    <h4>Select a watchlist</h4>
                    <ul class="list-inline">
                    <% _.each(results[0], function(data) { %>
                            <%  if (data.owner.id == '562145aa9cfbe00300efe70e') {%>
                            <li>
                                <input type="radio" name="watchlistName" value="<%= data.id %>" class="radio-watch"/> <%= data.name %>
                            </li>
                            <% } %>
                        <% }) %>
                    </ul>
                    <br>
                    <button type="button" class="btn btn-default" id="addWatchlist">Add</button>
                    <div class="alert alert-danger" id="alert-danger" hidden>
                        You can add the same movie twice
                    </div>
                    <div class="alert alert-success" id="alert-success" hidden>
                        <b>Success ! </b>Your movie have beed added to your watchlist
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" id="video-trailer">
    <div class="col-sm-12">
        <h3 class="title-movie">Trailer</h3>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" id="trailer" src=""></iframe>
        </div>
    </div>
</div>
<br><br><br>