<div class="row top-buffer row-bottom">
    <div class="signUp-content cols-sm-8">
        <h1>Sign Up</h1>
        <div class="alert alert-danger alert-size" role="alert" hidden>
        </div>
        <div class="cadre col-sm-8">
            <form class="form-horizontal" id="signupForm">
                <div class="form-group">
                    <label for="inputNom" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputNom" placeholder="Nom">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Avatar</label>
                    <div class="col-sm-10">
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-1.png"/>
                            <img src="ressources/img/avatar/avatar-1.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-2.png">
                            <img src="ressources/img/avatar/avatar-2.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-3.png">
                            <img src="ressources/img/avatar/avatar-3.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-4.png">
                            <img src="ressources/img/avatar/avatar-4.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-5.png">
                            <img src="ressources/img/avatar/avatar-5.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-6.png">
                            <img src="ressources/img/avatar/avatar-6.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-8.png">
                            <img src="ressources/img/avatar/avatar-7.png" class="avatar-signup">
                        </label>
                        <label>
                            <input type="radio" name="radioAvatar" class="no-style" value="ressources/img/avatar/avatar-8.png">
                            <img src="ressources/img/avatar/avatar-8.png" class="avatar-signup">
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" id="signUpButton" class="btn btn-default">Sign up</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>