<div class="row top-buffer">
    <div class="watchlist">
        <h2>Watchlist</h2>
        <div class="watchlist-user">
            <% _.each(results, function(data) {%>
            <hr />
            <h4>Name : <%= data.name %>  <span class="glyphicon glyphicon-trash delete-watchlist"  data-id="<%= data.id %>"></span>
                <span class="glyphicon glyphicon-pencil edit-watchlist" ></span></h4>
            <div id="edit-name" style="display: none">
                <input id="inputName" type="text" class="form-control custom-control size-input" data-id="<%= data.id %>"/>
                <button type="button" class="btn btn-default" id="change-name">Change name</button>
            </div>
            <ul class="list-inline">
            <% _.each(data.movies, function(movie) { %>
                <li>
                    <a href="#/movies/<%= movie.trackId %>">
                        <img src="<%= movie.artworkUrl100 %>" class="img-responsive">
                        <span><%= movie.trackName %></span></a>
                        <span class="glyphicon glyphicon-trash delete-movie"  data-id="<%= movie.trackId %>" data-watchlist="<%= data.id %>"></span>
                </li>
            <% }) %>
            </ul>
            <% }) %>
        </div>
        <button type="button" class="btn btn-default btn-margin-bottom" id="new-watchlist">Create a new watchlist</button>
    </div>
</div>